.appPanel {
  background: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 7px;
  border: 2px solid #cacaca;
}
.appPanel h2 {
  margin: 0px;
}
#accountsTable {
  height: 355px;
}
#transactionForm {
  height: 560px;
}
#stats {
  height: 160px;
}
ul {
  margin: 5px;
  padding: 0px;
  background: #fff;
}
li {
  list-style: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 28px;
  color: #717171;
  padding: 0 10px;
  letter-spacing: 1.5px;
}
li:nth-child(odd) {
  background: #dbdbdb;
}
#transactionForm aside {
  font-size: 18px;
  line-height: 56px;
}
.mui-select__menu {
  width: 340px;
  height: 155px !important;
  overflow-y: scroll;
  left: -152px;
  top: 0px !important;
}
#transactionForm .mui-row {
  border-bottom: 1px solid #e6e2de;
}
